<div class="article-card" >
  <div class="card__image">
    <img [src]="article.imageUrl === null ? 'assets/pictures/autumn.jpg' :  article.imageUrl " 
         [routerLink]="['/forum/article', article.id]"  >
  </div>
  <div class="card__title">
      <a  [routerLink]="['/forum/article', article.id]"  >{{article.title}}</a>
  </div>
  <div class="card__content">
    <div class="card__text">
      &emsp;{{article.content}}
    </div> 
  </div>
  <div class="footer">
    <p>{{article.created | date: 'short'}}</p>
    <!-- <p>{{article.author}}</p> -->
    <div *ngIf="isAdmin">
      <button class="btn btn-warning mr-2"  [routerLink]="['/admin/article', article.id]"> {{SYSTEM_CONTENT.CONTENT.EDIT}} </button>
      <button class="btn btn-danger" (click)="onDelete()"> {{SYSTEM_CONTENT.CONTENT.REMOVE}} </button>
    </div>
  </div>
</div>