<div class="col-md-4 mt-5">
    <div class="login card">
        <h4 class="card-header text-center">{{SYSTEM_CONTENT.CONTENT.LOGIN_TITLE}}</h4>
        <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="username">{{SYSTEM_CONTENT.CONTENT.EMAIL}}</label>
                    <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">{{SYSTEM_CONTENT.ERRORS.EMAIL_REQUIRED}}</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password">{{SYSTEM_CONTENT.CONTENT.PASSWORD}}</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">{{SYSTEM_CONTENT.ERRORS.PASSWORD_REQUIRED}}</div>
                    </div>
                </div>
                <button [disabled]="loading" class="btn btn-primary w-100">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    {{SYSTEM_CONTENT.CONTENT.LOGIN}}
                </button>
                <div *ngIf="errorMessage"  style="white-space: pre-line" class="alert alert-danger mt-3 mb-0">{{errorMessage}}</div>
            </form>
        </div>
    </div>
</div>