$base-color: #12314d;
$base-color-text: #ffffff;
$base-light: #405a79;
$base-dark: #000825;

$base-color-hover: rgba($base-light, 0.2);



$secondary-color: #45ae9f;
$secondary-color-text: #000000;
$secondary-light: #7ae0d0;
$secondary-dark: #007e71;


$secondary-color-hover: rgba($secondary-light, 0.2);


$alarm: #f4511e;
$alarm-dark: #b91400;
$alarm-text: #ffffff;
