$base-color: #005B4F;
$base-color-text: #ffffff;
$base-light: #3b6050;
$base-dark: #001100;

$base-color-hover: rgba($base-light, 0.2);



$secondary-color: #ffeb3b;
$secondary-color-text: #000000;
$secondary-light: #ffff72;
$secondary-dark: #c8b900;


$secondary-color-hover: rgba($secondary-light, 0.1);