<ul class="navbar-nav" *ngIf="isAuthenticated | async">
    <li class="nav-item">
        <a  class="nav-link" [routerLink]='["/authentication/profile"]' title="Manage">Вітаю {{ userName | async }}</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link" [routerLink]='["/authentication/logout"]' [state]='{ local: true }' title="Logout">Logout</a>
    </li>
</ul>
<ul class="navbar-nav" *ngIf="!(isAuthenticated | async)">
    <li class="nav-item">
        <button class="btn template-btn login"  [routerLink]='["/authentication/login"]'>Увійти</button>
    </li>
    <li class="nav-item" >
        <button class="btn template-btn register" [routerLink]='["/authentication/register"]'>Реєстрація</button>
    </li>
</ul>
