<body>
  <app-nav-menu></app-nav-menu>
  <div>
    <div class='header-static'>
      <img src='assets/pictures/main.jpg'>
      <p class="date-left">{{time | date:'dd.MM.yyyy HH:mm:ss'}}</p>
      <div class="welcome-title">
        <h1>
          СПОРТИВНЕ
          ОРІЄНТУВАННЯ У 
          ЗАПОРІЖЖІ
        </h1>
        
      </div>
      <p class="welcome-about">
          Все про наші змагання - календар, результатт, протоколи.
          На сайті Ви можете подати заявку на змагання та дізнатися останні новини.
      </p>
    </div>
      <div class="home-container">
        <router-outlet></router-outlet>
      </div>
  </div>
</body>
