$gray-darker: #444444;
$gray-dark: #696969;
$gray: #999999;
$gray-light: #cccccc;
$gray-lighter: #ececec;
$gray-lightest: rgba($gray-lighter, 0.4);

.article-card {
    padding: 10px;
    width: 100%;
    min-height: 380px;
    min-width: 540px;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
  
    &:hover {
        .card__image {
            filter: contrast(100%);
        }
    }

    img {
        width: 100%;
        max-width: 100%;
        vertical-align: top;
       
    }

    .card__content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: 0 1rem;
    }

    .card__image {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        filter: contrast(70%);
        //filter: saturate(180%);
        overflow: hidden;
        position: relative;
        transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
        @media (min-width: 40rem) {
            &::before {
                padding-top: 66.6%; // 3:2 aspect ratio
            }
        }

        display: flex;
      
        justify-content: center;
        
    }

    .card__title {
        color: $gray-dark;
        font-size: 1.25rem;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
        min-height: 40px;
        padding: 1rem;
        text-align: center;
    }

    .card__text {
        flex: 1 1 auto;
        font-size: 0.875rem;
        line-height: 1.5;
        margin-bottom: 1.25rem;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 3em;
        line-height: 1.5;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .footer {
        display: flex;
        justify-content: space-between;
        min-height: 40px;
        padding: 0 1rem;
    }
}


.article-card-important {
    width: 100%;
    min-height: 380px;
    background-color: white;
    min-width: 540px;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
   
  
    &:hover {
        .card__image {
            filter: contrast(100%);
        }
    }

    img {
        width: 100%;
        max-width: 100%;
        vertical-align: center;
       
    }

    .card__content {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 1rem;
        flex: 1
    }

    .card__image {
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
        filter: contrast(70%);
        //filter: saturate(180%);
        overflow: hidden;
        position: relative;
        transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
        @media (min-width: 40rem) {
            &::before {
                padding-top: 66.6%; // 3:2 aspect ratio
            }
        }

        display: flex;
      
        justify-content: center;
        
    }

    .card__title {
        color: $gray-dark;
        font-size: 1.25rem;
        font-weight: 300;
        letter-spacing: 2px;
        text-transform: uppercase;
        min-height: 40px;
        padding: 1rem;
        text-align: center;
    }

    .card__text {
        width: 85%;
        flex: 1 1 auto;
        font-size: 0.875rem;
        line-height: 1.5;
        margin-bottom: 1.25rem;
        text-overflow: ellipsis;
        word-wrap: break-word;
        overflow: hidden;
        max-height: 11em;
        line-height: 1.5;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        text-align: center;
        padding: 12px;
    }
}

