<div class="forum-container">
  <div class='admin-panel' *ngIf='user?.role === "Admin"'>
    <button class="btn btn-success"
            routerLink="/admin/article">{{SYSTEM_CONTENT.CONTENT.CREATE}}</button>
  </div>
  <div class="forum-articles"  *ngIf="loading && forum !== null && forum !== undefined else loading">
    <app-article class="cards__important-item" *ngFor="let item of forum.articles?.slice(0,2)"
        [article]='item' 
        [isAdmin]='user?.role === "Admin"'
        (delete)='delete($event)'
        [important] = 'true'>

   </app-article>
  </div>

  <div class="forum-header">
    <h2>Головні новини, Подіїї</h2>
  </div>
  <div  class="forum-articles"  *ngIf="loading && forum !== null && forum !== undefined else loading">
        <app-article class="cards__item" *ngFor="let item of forum.articles?.slice(2,forum.articles.length)"
          [article]='item'
          (delete)='delete($event)'
          [isAdmin]='user?.role === "Admin"'>

        </app-article>
  </div>
  <ng-template #loading>
      <div>Loading...</div>
  </ng-template>
</div>

<!-- <app-article [article]='default'></app-article> -->