<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-container border-bottom box-shadow">
    <div class="logo">
      <a [routerLink]="['/']">Запорізький центр спортивного орієнтування</a>
    </div>
    <div class="navbar-container">
     
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >

        <ul class="navbar-nav flex-grow" >
          <li *ngFor="let item of menuItems"
            class="nav-item"
            [routerLinkActive]="item.link"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a  [class]="href.includes(item.link) ? 'nav-link active' : 'nav-link'" [routerLink]="item.link">{{item.title}}</a>
          </li>
        </ul>
     
      </div>

    </div>

    <app-login-menu></app-login-menu>
  </nav>
</header>
