

<div class="article-details-container" *ngIf="article$ | async as article; else loading">
  <div class="article-title">
    <h1>{{article.title}}</h1>
    <div *ngIf=" this.authService.userValue?.role === 'Admin'">
      <a  [routerLink]='["/admin/article", article.id]'><i style='font-size: 24px;' class="far fa-edit mr-4"></i>Редагувати</a>
    </div>    
  </div>
  <div class="article-layout">
    
    <div class="article-main">
      <div class="article-image">
        <img [src]="article.imageUrl === null ? 'assets/pictures/autumn.jpg' :  article.imageUrl ">
      </div>
      <div class="article-text">
        <p> {{article.text}}</p>
      </div>

      <div class="article-docs">
        <h3>{{SYSTEM_CONTENT.CONTENT.ARTICLE.DOCS}}</h3>
        <div class="article-file">
          <ul class="article-docs">
            <li *ngFor="let item of article.docs" [routerLink]="item">{{item}}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="article-attachments">
      <h3>{{SYSTEM_CONTENT.CONTENT.ARTICLE.ATTACHMENTS}}</h3>
      <div class="forum-articles">
        <div class="forum-article" *ngFor="let item of article.attachments">
         
          <img style="width: 320px; height: auto;" [src]="item.physPath" [alt]="item.alt">
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div>
    Loading...
  </div>
</ng-template>
