@import "../../../shared/colors.scss";

.article-details-container {
    background-color: white;
    display: flex;
    flex-direction: column;

    .article-title {
        text-align: center;
        padding:  8px;
    }

    .article-layout {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    
    .article-main {
        display: flex;
        flex-direction: column;
        width: 48%;
        padding: 20px;

        .article-image {
    
            display: flex;
            justify-content: center;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            border-top-left-radius: 0.25rem;
            border-top-right-radius: 0.25rem;
            filter: contrast(70%);
            //filter: saturate(180%);
            overflow: hidden;
            position: relative;
            transition: filter 0.5s cubic-bezier(0.43, 0.41, 0.22, 0.91);
            @media (min-width: 40rem) {
                &::before {
                    padding-top: 66.6%; // 3:2 aspect ratio
                }
            }

            margin-bottom: 12px;
        }

        .article-text {
            font-size: 1.1rem;
            line-height: 1.5;
            line-height: 1.5;
            text-align: justify;
        }

        .article-docs {
            padding: 12px;
            .article-file {
                width: 320px;
            }
    
            ul {
                list-style: none; /* Remove list bullets */
                padding: 0;
                margin: 0;
              }
              
              li {
                padding-left: 16px;
                font-size: 1.2rem;
              }
              
              li::marker {
                  content: '\f15b';
                  font-weight: 900;
                  font-family: 'FontAwesome';
                 
                  color: $base-light;
                  font-size: 18px;
              }
          }
    }

   
    .article-attachments {
        
        display: flex;
        flex-direction: column;
        align-items: stretch;
        width: 48%;
        padding: 12px;

        h3 {
            text-align: center;
        }
       
        .forum-articles {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 12px;
        }

        .forum-article {
          margin-top: 12px;
          margin-bottom: 12px;
        }
    }
}
