.forum-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  h2 {
    margin: 1.5rem;
  }
    
  .forum-articles {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content:first baseline;
  }

  .forum-article{
    display: flex;
    padding: 1rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    @media (min-width: 56rem) {
      width: 33%;
    }
  }
}