

.article-metainfo {
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    width:  33%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 33%;
}
