<div class="form-container">
 
  <div class="card">
      <h4 class="card-header text-center">{{SYSTEM_CONTENT.CONTENT.USER.CHANGE_PASSWORD}}</h4>
      <div class="card-body">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                  <label for="curpassword">{{SYSTEM_CONTENT.CONTENT.USER.CURRENT_PASS}}</label>
                  <input type="curpassword" formControlName="curpassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.curpassword.errors }" />
                  <div *ngIf="submitted && f.curpassword.errors" class="invalid-feedback">
                      <div *ngIf="f.curpassword.errors.required">{{SYSTEM_CONTENT.ERRORS.PASSWORD_REQUIRED}}</div>
                      <div *ngIf="f.curpassword.errors.pattern">{{SYSTEM_CONTENT.ERRORS.PASSWOWRD_INVALID}}</div>
                  </div>
              </div>
              <div class="form-group">
                  <label for="password">{{SYSTEM_CONTENT.CONTENT.USER.NEW_PASSWORD}}</label>
                  <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                  <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                      <div *ngIf="f.password.errors.required">{{SYSTEM_CONTENT.ERRORS.PASSWORD_REQUIRED}}</div>
                      <div *ngIf="f.password.errors.pattern">{{SYSTEM_CONTENT.ERRORS.PASSWOWRD_INVALID}}</div>
                  </div>
              </div>
              <div class="form-group">
                <label for="repeatPassword">{{SYSTEM_CONTENT.CONTENT.CONFIRM_PASSWORD}}</label>
                <input type="password" formControlName="repeatPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.repeatPassword.errors }" />
                <div *ngIf="submitted && f.repeatPassword.errors" class="invalid-feedback">
                    <div *ngIf="f.repeatPassword.errors.required">{{SYSTEM_CONTENT.ERRORS.CONFIRM_PASSWORD_REQUIRED}}</div>
                    <div *ngIf="f.repeatPassword.errors.mismatch">{{SYSTEM_CONTENT.ERRORS.PASSWORD_NOT_MATCHED}}</div>
                </div>
                
                
            </div>
              <button [disabled]="loading"
              class="btn btn-primary w-100">
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  {{SYSTEM_CONTENT.CONTENT.USER.CHANGE_PASSWORD}}
              </button>
              <div *ngIf="error"  style="white-space: pre-line" class="alert alert-danger mt-3 mb-0">{{error}}</div>
          </form>
      </div>
  </div>
</div>