/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

.page-styles {
  display: flex;
  justify-content: center;
}

.main-image{
  img {
    width: 100%;
  }
}

